/* CSS files add styling rules to your content */

*{
   
  margin:0;
  padding:0;
  
}



body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#map{
  height:500px;
  width:100%
  
}

#qp{
  font-size: 190%;
  }


body {
 background-color: #333300;
 color: #FFFFFF;
}


h1 {
 color: #FFFF34;
 text-align: center;
 font: italic 200% fantasy;
}


